body {
  font-family: Arial;
}

.draggable-window {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  text-wrap: nowrap;
  touch-action: none;
}

.draggable-window .drag-handle {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  touch-action: none;
}

#drag-1 {
  bottom: 0;
}